# General
.DS_Store
.AppleDouble
.LSOverride
node_modules
/node_modules
dist
/dist
# Icon must end with two \r
Icon

# Study File
src/study
src/app-study.tsx

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
